#body {
    background-image: url(https://cdn.tn.com.ar/sites/default/files/styles/1366x765/public/2018/09/19/el_mato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}
